## A. Python basics, strings, printing (Shaw Exercises 1â€“10)

### 1

zhangbobuntekiMacBook-Air:Python Files zhangbowen$ python ex1.py
Hello World!
Hello Again
I like typing this.
This is fun.
Yay! Printing.
I'd much rather you 'not'.
I "said" do not touch this.
zhangbobuntekiMacBook-Air:Python Files zhangbowen$

### 2

In [1]:
# print string 
print('I can print as many " " as I want')
print('I can print as many ... as I want')

I can print as many " " as I want
I can print as many ... as I want

### 3 4

In [2]:
#Error_1
# Elements in Tuple can not be changed 
a = (2,3)
a[0] = 1

TypeError: 'tuple' object does not support item assignment

In [3]:
#Error_2
# statement in loop should be indented in order to work 
for i in range(2):
print(i)

IndentationError: expected an indented block (<ipython-input-3-66b526441da4>, line 4)

In [4]:
#Error_3
#2.0 is float type, should be int type
import numpy as np
np.zeros((2.0,3))

TypeError: 'float' object cannot be interpreted as an integer

In [5]:
#Error_4
# forget ":"
for i in range(2)
    print(i)

SyntaxError: invalid syntax (<ipython-input-5-b0848fbee84f>, line 3)

In [6]:
#Error_5
# data type should be the same
a= 'abc' + 4

TypeError: must be str, not int

### 5 6 7

In [7]:
a = 3/2**2
b = (3/2)**2
c = 3/(2**2)
d = 3*2**2
e = (1+2)/(2+4)
print(a,b,c,d,e)

0.75 2.25 0.75 12 0.5

In [8]:
a = 'spam'
b = a[0]
c = a[-1]
d = 1
e = d+1
f = d/e
print(a,b,c,d,e,f)

spam s m 1 2 0.5

### 8

In [9]:
print('print a world -- %r\n'%a,
      '%r divided by %r is %r\n'%(d,e,f),
      'print a world -- %s\n'%a,
      '%s divided by %s is %s\n'%(d,e,f))

print a world -- 'spam'
 1 divided by 2 is 0.5
 print a world -- spam
 1 divided by 2 is 0.5

### 9

In [10]:
g = 'mmm'
h = a + g
len(h)

7

### 10

In [11]:
print(a,'\t',g,'\n',h)

spam 	 mmm
 spammmm

### 11

In [12]:
print("{} add {} become {}".format(a,g,h))

spam add mmm become spammmm

### 12

In [13]:
print('This is the 1st line\nThis is the 2nd line\nThis is the 3rd line\nThis is the 4th line\nThis is the 5th line\n')
print('''
This is the 1st line
This is the 2nd line
This is the 3rd line
This is the 4th line
This is the 5th line
        ''')

This is the 1st line
This is the 2nd line
This is the 3rd line
This is the 4th line
This is the 5th line


This is the 1st line
This is the 2nd line
This is the 3rd line
This is the 4th line
This is the 5th line

### 13

In [14]:
print('This is \ta \ntest \" \' \\ ')

This is 	a
test " ' \

## B. Taking input, reading and writing files, functions (Shaw Exercises 11-26)

#### 1. Write some code, without using functions, that calculates the average of 5 numbers.

### input()
import numpy as np

a = np.zeros((5))

for i in range (5):

    a[i] = input()
    
print(np.average(a))

### argv

from sys import argv

v1 = float(argv[1])

v2 = float(argv[2])

v3 = float(argv[3])

v4 = float(argv[4])

v5 = float(argv[5])

v = (v5+v1+v2+v3+v4)/5

print(v)

In [15]:
a = 1
b = 2
c = 3
d = 4
e = 5

In [16]:
f = (a +b+c+d+e)/5

#### 2. Using functions, write some code that changes two strings

In [17]:
from sys import argv
def aver():
    a = argv[1]
    b = argv[2]
    print(a.capitalize(), b.capitalize() )
    print(a.upper(),b.upper())
    print(a[0],a[-1],b[0],b[-1])
    print(len(a),len(b))
    print(a+b)
aver()

-f /users/zhangbowen/library/jupyter/runtime/kernel-2a672b18-96e7-4cea-a1f2-2d363a2d2c0f.json
-F /USERS/ZHANGBOWEN/LIBRARY/JUPYTER/RUNTIME/KERNEL-2A672B18-96E7-4CEA-A1F2-2D363A2D2C0F.JSON
- f / n
2 90
-f/Users/zhangbowen/Library/Jupyter/runtime/kernel-2a672b18-96e7-4cea-a1f2-2d363a2d2c0f.json

In [18]:
def aver(a,b):
    print(a.capitalize(), b.capitalize() )
    print(a.upper(),b.upper())
    print(a[0],a[-1],b[0],b[-1])
    print(len(a),len(b))
    print(a+b)

In [19]:
a = 'abc'
b = 'def'
aver(a,b)

Abc Def
ABC DEF
a c d f
3 3
abcdef

### 3. Using a text editor, create a comma-separated values file with 5 columns and 5 rows. Save it in the same directory as your Jupyter notebook. In the Jupyter notebook, read and print the file in different ways

#### Read your .csv file using read(), readline(), or readlines()

In [20]:
#3.
file = 'hw3.csv'
csv = open(file)

In [21]:
csv.read()

'10000,N,Mac,0,0\n13001,Y,Mac,1,2\n60985,Y,Windows,0,1\n43309,Y,Mac,3,3\n89785,Y,Windows,2,2\n'

In [22]:
csv = open(file)
csv.readline()

'10000,N,Mac,0,0\n'

In [23]:
csv.close()

In [24]:
csv = open(file)
csv.readlines()

['10000,N,Mac,0,0\n',
 '13001,Y,Mac,1,2\n',
 '60985,Y,Windows,0,1\n',
 '43309,Y,Mac,3,3\n',
 '89785,Y,Windows,2,2\n']

#### Do the same but use a with block and a different one of read(), readline(), or readlines().

In [25]:
with open(file, 'r') as f:
    lines = f.read()
lines

'10000,N,Mac,0,0\n13001,Y,Mac,1,2\n60985,Y,Windows,0,1\n43309,Y,Mac,3,3\n89785,Y,Windows,2,2\n'

In [26]:
with open(file, 'r') as f:
    line = f.readline()
line

'10000,N,Mac,0,0\n'

In [27]:
with open(file, 'r') as f:
    lines = f.readlines()
lines

['10000,N,Mac,0,0\n',
 '13001,Y,Mac,1,2\n',
 '60985,Y,Windows,0,1\n',
 '43309,Y,Mac,3,3\n',
 '89785,Y,Windows,2,2\n']

In [28]:
'''
10000,N,Mac,0,0
13001,Y,Mac,1,2
60985,Y,Windows,0,1
43309,Y,Mac,3,3
89785,Y,Windows,2,2
'''

'\n10000,N,Mac,0,0\n13001,Y,Mac,1,2\n60985,Y,Windows,0,1\n43309,Y,Mac,3,3\n89785,Y,Windows,2,2\n'

#### Using either of the two above methods, then change one row of data, and write your csv data to a new file.

In [29]:
outfile = 'hw3.csv'
a = '10, a, c, d, e\n'
lines[0] = a
with open('hw3_new.csv', 'w') as target:
    for i in range(5):
        target.write(lines[i])

#### Read your .csv file using Pandas and display the resulting DataFrame.

In [30]:
import pandas as pd
df = pd.read_csv('hw3_new.csv', header=None)

In [31]:
df

       0   1        2   3   4
0     10   a        c   d   e
1  13001   Y      Mac   1   2
2  60985   Y  Windows   0   1
3  43309   Y      Mac   3   3
4  89785   Y  Windows   2   2

#### Save your DataFrame to a new file using Pandas.

In [32]:
df.to_csv('hw3_pandas.csv')