### A. Regular expressions in the command line

``` bash 
zhangbobuntekiMacBook-Air:data zhangbowen$ 
egrep -E "11/10/15|Date" scripps_pier_20151110.csv 

Date,chl (ug/L),pres (dbar),sal (PSU),temp (C)
11/10/15 1:42,22.307,3.712,33.199,19.95
11/10/15 1:35,22.311,3.588,33.201,19.94
11/10/15 1:29,22.305,3.541,33.2,19.95
11/10/15 1:23,22.323,3.463,33.2,19.95
11/10/15 1:17,22.316,3.471,33.199,19.95
11/10/15 1:11,22.315,3.476,33.198,19.95
11/10/15 1:05,22.31,3.448,33.199,19.96
11/10/15 0:59,22.316,3.377,33.2,19.99
11/10/15 0:53,22.311,3.338,33.2,20
11/10/15 0:47,22.322,3.325,33.201,20.01
11/10/15 0:41,22.311,3.344,33.2,20.04
11/10/15 0:35,22.311,3.217,33.201,20.05
11/10/15 0:29,22.307,3.265,33.199,20.08
11/10/15 0:23,22.32,3.22,33.197,20.09
11/10/15 0:17,22.322,3.211,33.199,20.08
11/10/15 0:11,22.323,3.134,33.197,20.09
11/10/15 0:05,22.315,3.018,33.197,20.09
```

```bash
zhangbobuntekiMacBook-Air:data zhangbowen$ grep  ".*,3\." scripps_pier_20151110.csv 
11/10/15 1:42,22.307,3.712,33.199,19.95
11/10/15 1:35,22.311,3.588,33.201,19.94
11/10/15 1:29,22.305,3.541,33.2,19.95
11/10/15 1:23,22.323,3.463,33.2,19.95
11/10/15 1:17,22.316,3.471,33.199,19.95
11/10/15 1:11,22.315,3.476,33.198,19.95
11/10/15 1:05,22.31,3.448,33.199,19.96
11/10/15 0:59,22.316,3.377,33.2,19.99
11/10/15 0:53,22.311,3.338,33.2,20
11/10/15 0:47,22.322,3.325,33.201,20.01
11/10/15 0:41,22.311,3.344,33.2,20.04
11/10/15 0:35,22.311,3.217,33.201,20.05
11/10/15 0:29,22.307,3.265,33.199,20.08
11/10/15 0:23,22.32,3.22,33.197,20.09
11/10/15 0:17,22.322,3.211,33.199,20.08
11/10/15 0:11,22.323,3.134,33.197,20.09
11/10/15 0:05,22.315,3.018,33.197,20.09
11/9/15 23:59,22.319,3.031,33.198,20.08
11/9/15 23:53,22.327,3.118,33.199,20.11
11/9/15 23:41,22.328,3.014,33.198,20.16
11/9/15 23:29,22.336,3.013,33.194,20.17
11/9/15 23:23,22.337,3.011,33.194,20.16
11/9/15 20:17,22.402,3.061,33.206,20.07
11/9/15 20:05,22.409,3.065,33.204,20.05
11/9/15 19:59,22.412,3.159,33.203,20.04
11/9/15 19:53,22.418,3.039,33.206,20.04
11/9/15 19:47,22.422,3.163,33.204,20.04
11/9/15 19:41,22.423,3.193,33.206,20.03
11/9/15 19:34,22.423,3.204,33.202,20.05
11/9/15 19:28,22.413,3.254,33.2,20.02
11/9/15 19:22,22.418,3.316,33.202,19.96
11/9/15 19:16,22.41,3.209,33.2,19.96
11/9/15 19:10,22.426,3.328,33.203,19.95
```

```bash
zhangbobuntekiMacBook-Air:data zhangbowen$ sed 's/\/15/\/2015/g' scripps_pier_20151110.csv 
```

### B. Regular expressions in Python

In [1]:
import re

In [2]:
s = 'The quick brown fox jumps over the lazy dog'

In [3]:
re.match('The', s)

In [4]:
a = re.search(r'[a-z]o', s).group()
a = a[0]
a

'r'

In [5]:
regex = re.compile(r'[a-z][o]')
words = regex.findall(s)
words  = [a[0] for a in words]
words

['r', 'f', 'd']

In [6]:
ss = re.sub(r'dog', 'cat', s)
ss

'The quick brown fox jumps over the lazy cat'

### C. Numpy basics

In [7]:
import numpy as np

In [8]:
a = 10*np.random.rand(1,10)
a

array([[6.00275149, 6.82682342, 0.61701507, 7.62964224, 5.65680073,
        1.30569418, 4.06618868, 8.81213881, 8.17746633, 9.71632309]])

In [9]:
b = [i for i in range(10)]
b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
x = (a > b)
a[x]

array([6.00275149, 6.82682342, 7.62964224, 5.65680073, 8.81213881,
       8.17746633, 9.71632309])

### D. Pandas basics

In [11]:
import pandas as pd

In [12]:
df = pd.read_csv('../data/scripps_pier_20151110.csv', index_col=0, header=0)

In [13]:
df.head()

               chl (ug/L)  pres (dbar)  sal (PSU)  temp (C)
Date
11/10/15 1:42      22.307        3.712     33.199     19.95
11/10/15 1:35      22.311        3.588     33.201     19.94
11/10/15 1:29      22.305        3.541     33.200     19.95
11/10/15 1:23      22.323        3.463     33.200     19.95
11/10/15 1:17      22.316        3.471     33.199     19.95

In [14]:
date_1 = []
for date in df.index:
    if '11/10/15' in date:
        date_1.append(date)
date_1

['11/10/15 1:42',
 '11/10/15 1:35',
 '11/10/15 1:29',
 '11/10/15 1:23',
 '11/10/15 1:17',
 '11/10/15 1:11',
 '11/10/15 1:05',
 '11/10/15 0:59',
 '11/10/15 0:53',
 '11/10/15 0:47',
 '11/10/15 0:41',
 '11/10/15 0:35',
 '11/10/15 0:29',
 '11/10/15 0:23',
 '11/10/15 0:17',
 '11/10/15 0:11',
 '11/10/15 0:05']

In [15]:
df.loc[date_1]

               chl (ug/L)  pres (dbar)  sal (PSU)  temp (C)
Date
11/10/15 1:42      22.307        3.712     33.199     19.95
11/10/15 1:35      22.311        3.588     33.201     19.94
11/10/15 1:29      22.305        3.541     33.200     19.95
11/10/15 1:23      22.323        3.463     33.200     19.95
11/10/15 1:17      22.316        3.471     33.199     19.95
11/10/15 1:11      22.315        3.476     33.198     19.95
11/10/15 1:05      22.310        3.448     33.199     19.96
11/10/15 0:59      22.316        3.377     33.200     19.99
11/10/15 0:53      22.311        3.338     33.200     20.00
11/10/15 0:47      22.322        3.325     33.201     20.01
11/10/15 0:41      22.311        3.344     33.200     20.04
11/10/15 0:35      22.311        3.217     33.201     20.05
11/10/15 0:29      22.307        3.265     33.199     20.08
11/10/15 0:23      22.320        3.220     33.197     20.09
11/10/15 0:17      22.322        3.211     33.199     20.08
11/10/15 0:11      22.323        3.134     33.197     20.09
11/10/15 0:05      22.315        3.018     33.197     20.09