## A. Reading and summarizing

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/emp_qiime_mapping_subset_2k.tsv', index_col = 0, header = 0, sep = '\t')

In [3]:
df.head()

,BarcodeSequence,LinkerPrimerSequence,Description,host_subject_id,study_id,title,principal_investigator,doi,ebi_accession,target_gene,...,adiv_shannon,adiv_faith_pd,temperature_deg_c,ph,salinity_psu,oxygen_mg_per_l,phosphate_umol_per_l,ammonium_umol_per_l,nitrate_umol_per_l,sulfate_umol_per_l
#SampleID,,,,,,,,,,,,,,,,,,,,,
550.L1S116.s.1.sequence,ATGCCTGAGCAG,GTGCCAGCMGCCGCGGTAA,sample_20 stool,F4,550,Moving pictures of the human microbiome,Rob Knight,10.1186/gb-2011-12-5-r50,ERP021896,16S rRNA,...,3.867414,12.457989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
550.L1S119.s.1.sequence,CAGCACTAAGCG,GTGCCAGCMGCCGCGGTAA,sample_23 stool,F4,550,Moving pictures of the human microbiome,Rob Knight,10.1186/gb-2011-12-5-r50,ERP021896,16S rRNA,...,3.265164,10.719448,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
550.L1S164.s.1.sequence,ATGTACGGCGAC,GTGCCAGCMGCCGCGGTAA,sample_73 stool,M3,550,Moving pictures of the human microbiome,Rob Knight,10.1186/gb-2011-12-5-r50,ERP021896,16S rRNA,...,3.661124,14.214158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
550.L1S194.s.1.sequence,CGAAGACTGCTG,GTGCCAGCMGCCGCGGTAA,sample_105 stool,M3,550,Moving pictures of the human microbiome,Rob Knight,10.1186/gb-2011-12-5-r50,ERP021896,16S rRNA,...,4.439943,12.012602,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
550.L1S20.s.1.sequence,ACGGTGAGTGTC,GTGCCAGCMGCCGCGGTAA,sample_112 stool,F4,550,Moving pictures of the human microbiome,Rob Knight,10.1186/gb-2011-12-5-r50,ERP021896,16S rRNA,...,3.327601,11.758069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
total_sample = df.iloc[:,0].shape
total_columns = df.iloc[0,:].shape
print('%s samples are in the dataframe and %s metadata colums ' %(total_sample[0],total_columns[0]))

2000 samples are in the dataframe and 75 metadata colums

In [5]:
print('minimum ph value is %s, maximum ph value is %s'%(np.min(df['temperature_deg_c']),np.max(df['temperature_deg_c'])))

minimum ph value is -15.0, maximum ph value is 91.0

In [6]:
mask = [df['temperature_deg_c'].isnull() == False]

In [8]:
temp = np.array(df['temperature_deg_c'])
temp = temp[mask]
temp_aver = np.average(temp)
temp_std = np.std(temp)
print('average temperature value is %s, standard deviation is %s'%(temp_aver,temp_std))

average temperature value is 18.491087666601945, standard deviation is 16.65208618275302

## B. Indexing, slicing, and writing

In [9]:
print('%s values in temp'%temp.shape[0])

411 values in temp

In [10]:
df_seqs = df.iloc[:,16:22]

In [11]:
print('mean value of column observations_deblur_90bp is %s'%np.mean(df_seqs.observations_deblur_90bp))

mean value of column observations_deblur_90bp is 64789.0535

In [12]:
df_seqs.to_csv('df_seqs.csv')

## C. Merging, joining, and concatenating

In [13]:
df_seqs_head = df_seqs.iloc[:5]

In [14]:
df_seqs_tail = df_seqs.iloc[-5:]

In [15]:
frames = [df_seqs_head,df_seqs_tail]
concat_df = pd.concat(frames)

In [16]:
df_seqs_head.append(df_seqs_tail)

,read_length_bp,sequences_split_libraries,observations_closed_ref_greengenes,observations_closed_ref_silva,observations_open_ref_greengenes,observations_deblur_90bp
#SampleID,,,,,,
550.L1S116.s.1.sequence,132,33383,32153,32453,33337,22567
550.L1S119.s.1.sequence,132,40944,39472,39929,40870,27871
550.L1S164.s.1.sequence,132,35636,34550,34666,35599,24134
550.L1S194.s.1.sequence,132,46992,43925,43852,46875,30041
550.L1S20.s.1.sequence,132,30131,29179,29553,30094,21132
2382.DPOO1.C1.HA.1.630.gp.9.12.lane8.NoIndex.L008.sequences,150,125047,124344,123968,124983,90850
2382.DPOO1.C1.HA.1.629.leav.9.12.lane8.NoIndex.L008.sequences,150,138753,138268,138165,138702,115902
2382.DPOO1.C1.HA.1.628.root.9.12.lane7.NoIndex.L007.sequences,150,345657,243403,272832,342881,204706
2382.DPOO1.C1.HA.1.428.root.4.12.lane7.NoIndex.L007.sequences,150,89747,62332,70308,88986,53892
2382.DPOO1.C1.HA.1.228.root.9.11.lane1.NoIndex.L001.sequences,150,92336,66419,71897,90693,50070

In [17]:
df_phys = df[['ph','temperature_deg_c','salinity_psu']]

In [18]:
df_empo = df.empo_3

In [19]:
df_merged = pd.merge(df_phys,df_seqs, on = '#SampleID')

In [20]:
df_merged = df_merged.join(df_empo)

## D. Applying functions

In [21]:
df_merged['temperature_deg_f'] = [i*9/5+32 for i in df_merged['temperature_deg_c']]

In [22]:
C2F = lambda C: C*9/5+32

In [23]:
df_merged['temperature_deg_f_2'] = df_merged['temperature_deg_c'].apply(C2F)

## E. Sorting

In [24]:
df.sort_values('sequences_split_libraries', axis=0, ascending=False, inplace = True)

In [25]:
df.sort_index(axis=1, ascending=True, inplace=True)